header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li{
    margin: 0 30px;
}


nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.img_header{
    width: 100%;
    height: 400px;
    background-image: url()
}