header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    box-sizing: border-box;

    background: transparent;

}
header h1{
    color: floralwhite;
    margin: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li{
    margin: 30px 30px;
}


.img_header{
    width: 100%;
    height: 800px;
    background-image: url('assets/header_img.jpg');
    background-size: cover;
    background-position: center;
}


.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color:   #126b65;
    text-decoration: none;
    color: floralwhite;
    border-radius: 20px;
    border: floralwhite solid 2px;

}

.title{
    color:#126b65;
}